
@{
    ViewBag.Title = "loginhmtl";
}

<h2>Login</h2>

<form method="post">
    <input name="userName"/><br/><br/>
    <input type="password" name="password"/><br/><br/>
    <input type="number" name="isAdmin"/><br/><br/>
    <button type="submit">Gonder</button>
</form>

