
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>

<form method="post">
    <text>AD <input name="Name" /></text><br /><br />
    <text>Soyad <input name="SurName" /></text><br /><br />
  
    <input name="userName" /><br /><br />
    <input type="password" name="password" /><br /><br />
    <input name="mail" /><br /><br />
    @*<input type="number" name="isAdmin" /><br /><br />*@
   
    <input type="number" name="age" /><br /><br />
    <button type="submit">Qeydiyyatdan kec</button>
</form>