<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactmenu</title>
</head>
<body>
    <div> 
        <form action="/home/Show" method="post">
        <input type="text" name="myText" />
    <button type="submit">gonder</button>
    </form>
    </div>
</body>
</html>
